In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdaaaddekskaka'))

In [4]:
s

0     a
1     s
2     d
3     a
4     a
5     a
6     d
7     d
8     e
9     k
10    s
11    k
12    a
13    k
14    a
dtype: object

In [5]:
s.unique()

array(['a', 's', 'd', 'e', 'k'], dtype=object)

In [7]:
s.value_counts()

a    6
k    3
d    3
s    2
e    1
dtype: int64

In [8]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

In [11]:
dados.Valor.value_counts()

1500.0     741
2500.0     727
2000.0     663
3000.0     661
1800.0     639
1200.0     615
1000.0     577
3500.0     560
1300.0     544
1600.0     528
2200.0     497
5000.0     484
1100.0     481
4500.0     456
4000.0     455
1700.0     453
1400.0     403
2300.0     385
2800.0     381
6000.0     345
900.0      343
1900.0     342
8000.0     340
7000.0     316
800.0      307
5500.0     303
3200.0     266
2700.0     250
2100.0     250
2600.0     245
          ...
23009.0      1
19991.0      1
9950.0       1
2448.0       1
9991.0       1
9990.0       1
6760.0       1
6870.0       1
4991.0       1
910.0        1
5079.0       1
799.0        1
13900.0      1
3780.0       1
699.0        1
3597.0       1
5495.0       1
3580.0       1
1420.0       1
3515.0       1
1508.0       1
1960.0       1
3799.0       1
11500.0      1
5491.0       1
24009.0      1
785.0        1
5850.0       1
2999.0       1
1625.0       1
Name: Valor, Length: 452, dtype: int64