# Criando Estrutura de Dados

In [52]:
import pandas as pd

## Series

In [53]:
data = [1,2,3,4,5]

In [54]:
s = pd.Series(data)

In [55]:
s # A lista acompanhada com um index

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [56]:
index = ['Linha' + str(i) for i in range(5)]

In [57]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [58]:
s = pd.Series(data, index)

In [59]:
s # Transformamos o 'index' no index da lista data

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [60]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [61]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [62]:
s = pd.Series(data)

In [63]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [64]:
s1 = s + 2

In [65]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [66]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [67]:
s2 = s + s1

In [68]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## DataFrame

In [69]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]

In [70]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [71]:
df_data = pd.DataFrame(data = data)

In [72]:
df_data

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [73]:
index = ['linha' + str(i) for i in range(3)]

In [74]:
index

['linha0', 'linha1', 'linha2']

In [75]:
df_data = pd.DataFrame(data, index)

In [76]:
df_data

        0  1  2
linha0  1  2  3
linha1  4  5  6
linha2  7  8  9

In [77]:
columns = ['Coluna' + str(i) for i in range(3)]

In [78]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [79]:
df_data = pd.DataFrame(data, index, columns)

In [80]:
df_data

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [81]:
data = {'Coluna0' : {'linha0' : 1, 'linha1' : 4, 'linha2' : 7},
       'Coluna1' : {'linha0' : 2, 'linha1' : 5, 'linha2': 8},
       'Coluna2' : {'linha0' : 3, 'linha1' : 6, 'linha2': 9}}

In [82]:
data

{'Coluna0': {'linha0': 1, 'linha1': 4, 'linha2': 7},
 'Coluna1': {'linha0': 2, 'linha1': 5, 'linha2': 8},
 'Coluna2': {'linha0': 3, 'linha1': 6, 'linha2': 9}}

In [83]:
df2 = pd.DataFrame(data)

In [84]:
df2

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [85]:
data = [(1,2,3),
       (4,5,6),
       (7,8,9)] # Criando uma lista de tuplas

In [86]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [87]:
df3 = pd.DataFrame(data, index, columns)

In [88]:
df3

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [89]:
df_data[df_data > 0] = 'A'
df_data

       Coluna0 Coluna1 Coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A

In [90]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
linha0       B       B       B
linha1       B       B       B
linha2       B       B       B

In [91]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
linha0       C       C       C
linha1       C       C       C
linha2       C       C       C

In [92]:
df4 = pd.concat([df_data, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A
linha0       B       B       B
linha1       B       B       B
linha2       B       B       B
linha0       C       C       C
linha1       C       C       C
linha2       C       C       C

In [93]:
df4 = pd.concat([df_data, df2, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
linha0       A       A       A       B       B       B       C       C       C
linha1       A       A       A       B       B       B       C       C       C
linha2       A       A       A       B       B       B       C       C       C