In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame([1, 1, 50, 50, 50, 50, 50, 50, 50, 60, 60, 65, 70, 200, 250, 300, 700])

In [3]:
data

      0
0     1
1     1
2    50
3    50
4    50
5    50
6    50
7    50
8    50
9    60
10   60
11   65
12   70
13  200
14  250
15  300
16  700

In [4]:
data.mean() # MEDIA

0    121.0
dtype: float64

In [5]:
data.median() # MEDIANA

0    50.0
dtype: float64

In [7]:
data.quantile() # MODA

0    50.0
Name: 0.5, dtype: float64