# Relatório de Análise V

### Tratamento de Dados Faltantes

In [3]:
import pandas as pd

In [4]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [5]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,70.00,Casa
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,34.67,Apartamento
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,16.67,Apartamento
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN,17.14,Apartamento
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN,29.33,Casa
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN,15.38,Casa
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0,50.36,Apartamento

In [6]:
dados.notnull() #Para ver quais dados são nulos

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m²,Tipo Agregado
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,False,False,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,False,True,True
5,True,True,True,True,True,True,True,False,False,True,True
6,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,False,False,True,True
8,True,True,True,True,True,True,True,False,False,True,True
9,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,False,False,True,True
11,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,False,True,True
15,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,False,True,True,True
17,True,True,True,True,True,True,True,True,False,True,True
18,True,True,True,True,True,True,True,False,False,True,True
19,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,False,True,True
23,True,True,True,True,True,True,True,True,False,True,True
24,True,True,True,True,True,True,True,True,False,True,True
25,True,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,False,True,True
27,True,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...
32930,True,True,True,True,True,True,True,True,True,True,True
32931,True,True,True,True,True,True,True,False,True,True,True
32932,True,True,True,True,True,True,True,True,True,True,True
32933,True,True,True,True,True,True,True,True,True,True,True
32934,True,True,True,True,True,True,True,True,True,True,True
32935,True,True,True,True,True,True,True,True,True,True,True
32936,True,True,True,True,True,True,True,True,True,True,True
32937,True,True,True,True,True,True,True,True,True,True,True
32938,True,True,True,True,True,True,True,True,True,True,True
32939,True,True,True,True,True,True,True,True,True,True,True
32940,True,True,True,True,True,True,True,True,True,True,True
32941,True,True,True,True,True,True,True,True,True,True,True
32942,True,True,True,True,True,True,True,True,False,True,True
32943,True,True,True,True,True,True,True,True,True,True,True
32944,True,True,True,True,True,True,True,True,False,True,True
32945,True,True,True,True,True,True,True,True,True,True,True
32946,True,True,True,True,True,True,True,True,True,True,True
32947,True,True,True,True,True,True,True,True,True,True,True
32948,True,True,True,True,True,True,True,True,True,True,True
32949,True,True,True,True,True,True,True,True,True,True,True
32950,True,True,True,True,True,True,True,True,True,True,True
32951,True,True,True,True,True,True,True,True,False,True,True
32952,True,True,True,True,True,True,True,True,True,True,True
32953,True,True,True,True,True,True,True,True,True,True,True
32954,True,True,True,True,True,True,True,False,False,True,True
32955,True,True,True,True,True,True,True,True,True,True,True
32956,True,True,True,True,True,True,True,True,True,True,True
32957,True,True,True,True,True,True,True,True,True,True,True
32958,True,True,True,True,True,True,True,True,False,True,True
32959,True,True,True,True,True,True,True,True,True,True,True

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 11 columns):
Tipo             32960 non-null object
Bairro           32960 non-null object
Quartos          32960 non-null int64
Vagas            32960 non-null int64
Suites           32960 non-null int64
Area             32960 non-null int64
Valor            32943 non-null float64
Condominio       28867 non-null float64
IPTU             22723 non-null float64
Valor m²         32943 non-null float64
Tipo Agregado    32960 non-null object
dtypes: float64(4), int64(4), object(3)
memory usage: 2.8+ MB

In [8]:
dados[dados['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m²,Tipo Agregado
76,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0,NaN,Apartamento
2186,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN,NaN,Apartamento
2456,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN,NaN,Casa
2646,Loja/Salão,Barra da Tijuca,0,2,0,80,NaN,NaN,NaN,NaN,Apartamento
2941,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0,NaN,Apartamento
2973,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN,NaN,Apartamento
6598,Loja/Salão,Andaraí,0,0,0,326,NaN,NaN,1140.0,NaN,Apartamento
7302,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN,NaN,Casa
12683,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN,NaN,Apartamento
13229,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0,NaN,Apartamento
13525,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0,NaN,Apartamento
13579,Conjunto Comercial/Sala,Botafogo,0,3,0,200,NaN,10.0,NaN,NaN,Apartamento
20948,Conjunto Comercial/Sala,Freguesia (Jacarepaguá),0,1,0,24,NaN,500.0,74.0,NaN,Apartamento
21822,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,77,NaN,3600.0,1390.0,NaN,Apartamento
23056,Conjunto Comercial/Sala,Botafogo,0,0,0,900,NaN,10.0,NaN,NaN,Apartamento
24805,Conjunto Comercial/Sala,Botafogo,0,0,0,500,NaN,10.0,NaN,NaN,Apartamento
29166,Conjunto Comercial/Sala,Botafogo,0,1,0,50,NaN,10.0,NaN,NaN,Apartamento

In [9]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

17

In [10]:
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU, Valor m², Tipo Agregado]
Index: []

In [11]:

dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,70.00,Casa
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,34.67,Apartamento
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,16.67,Apartamento
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN,17.14,Apartamento
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN,29.33,Casa
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN,15.38,Casa
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0,50.36,Apartamento
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN,33.33,Apartamento
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN,66.67,Apartamento
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
16,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0,52.24,Apartamento
17,Flat,Botafogo,3,1,1,80,3800.0,1040.0,NaN,47.50,Apartamento
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN,17.39,Casa
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN,16.09,Casa
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN,14.71,Apartamento
24,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN,25.64,Apartamento
25,Flat,Leblon,1,0,0,56,4500.0,1900.0,1500.0,80.36,Apartamento
26,Conjunto Comercial/Sala,São Cristóvão,0,1,0,25,1100.0,600.0,NaN,44.00,Apartamento
27,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,56.00,Apartamento
28,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0,15.62,Apartamento
29,Loja/Salão,Campo Grande,0,1,0,35,1300.0,950.0,NaN,37.14,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
32930,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0,8.33,Apartamento
32931,Casa,Centro,5,0,1,160,5000.0,NaN,80.0,31.25,Casa
32932,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0,27.78,Apartamento
32933,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0,20.00,Apartamento
32934,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0,28.21,Apartamento
32935,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0,86.00,Apartamento
32936,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0,58.57,Apartamento
32937,Conjunto Comercial/Sala,Centro,0,0,0,150,10000.0,2680.0,800.0,66.67,Apartamento
32938,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0,39.00,Apartamento
32939,Conjunto Comercial/Sala,Barra da Tijuca,0,1,0,36,1100.0,1200.0,270.0,30.56,Apartamento
32940,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0,26.47,Apartamento
32941,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0,23.47,Apartamento
32942,Conjunto Comercial/Sala,Barra da Tijuca,0,1,0,55,2000.0,1096.0,NaN,36.36,Apartamento
32943,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0,39.29,Apartamento
32944,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN,17.61,Apartamento
32945,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
32946,Conjunto Comercial/Sala,Centro,0,0,0,140,4000.0,1412.0,496.0,28.57,Apartamento
32947,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0,37.50,Apartamento
32948,Conjunto Comercial/Sala,Centro,0,0,0,32,600.0,1035.0,83.0,18.75,Apartamento
32949,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0,100.00,Apartamento
32950,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0,35.71,Apartamento
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN,19.23,Apartamento
32952,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0,33.33,Casa
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
32954,Box/Garagem,Centro,0,0,0,755,14000.0,NaN,NaN,18.54,Apartamento
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN,42.86,Apartamento
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0,26.00,Apartamento